.xforms_ui div.field_holder{
	clear:both;
}

.xforms_ui div.form_field label.title {
    font-weight: bold;
    margin-bottom: 2px;
}
.xforms_ui div.form_field input.text,
.xforms_ui div.form_field input.date,
.xforms_ui div.form_field input.time,
.xforms_ui div.form_field input.text_only,
.xforms_ui div.form_field input.numbers_only,
.xforms_ui div.form_field input.auto,
.xforms_ui div.form_field input.email,
.xforms_ui div.form_field input.phone_number,
.xforms_ui div.form_field input.file{
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    display: block;
    padding: 5px;
    width: 98%;
	/*float:left;*/
}

.xforms_ui div.form_field input.email,
.xforms_ui div.form_field input.phone_number,
.xforms_ui div.form_field input.date,
.xforms_ui div.form_field input.time,
.xforms_ui div.form_field input.text_only,
.xforms_ui div.form_field input.numbers_only,
.xforms_ui div.form_field input.url{
	 padding-left: 36px;
    width: 93%;
}

.xforms_ui div.form_field {
    margin-bottom: 15px;
}
.xforms_ui div.form_field input[type="radio"], .xforms_ui div.form_field input[type="checkbox"] {
    margin-right: 5px;
}
.xforms_ui div.form_field select option {
    padding: 3px 5px;
}
.xforms_ui div.form_field textarea {
    width: 98%;
	padding-right:2px;
	display: block;
	/*float:left;*/
}
.xforms_ui div.form_field select {
   	border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    display: block;
    height: 27px;
    padding: 3px;
    width: 100%;
	/*float:left;*/
}
.xforms_ui div.form_field select:hover,
.xforms_ui div.form_field textarea:hover,
.xforms_ui div.form_field input[type="text"]:hover{
	border:1px solid #ccc;
	box-shadow:0px 0px 2px #ccc;
}
.combowrap input[type="text"]:hover{
	border:none !important;
	box-shadow:none !important;
	cursor:pointer;
}
div.field_actions 
{
	display:none;
}
.xforms_ui div.form_field.show_actions div.field_actions 
{
	display:block;
}
span.set_required, 
span.add_edit_items,
span.show_field_settings,
span.add_description,
span.set_error_message,
span.field_settings,
span.click_to_edit{
	visibility:hidden;
	padding-left:10px;
	display:none;
}


label.normal{
	font-weight:normal !important;
}

div.error_msg{
	border-radius: 7px 7px 7px 7px;
    display: none;
    margin-bottom: 10px;
    padding: 5px 10px 5px 13px;
    width: 98%;
}

div.radio_button_group label,
div.check_box_group label {
   margin-bottom: 0 !important;
    margin-left: -3px;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding: 4px 10px;
}

.ui-tooltip {
	padding: 10px 20px;
	text-transform: none !important;
	box-shadow: 1px 1px 3px #333;
	z-index:99999999;
	max-width:200px;
}
div#help_text {
  	cursor: help;
    display: none;
    float: right !important;
    height: 17px;
    margin: 0 !important;
    position: relative;
    width: 14px;
    z-index: 100;
}


div.radio_button_group input.ui-helper-hidden-accessible,
div.check_box_group input.ui-helper-hidden-accessible{
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    float: left;
    margin-top: 6px !important;
    margin-left: 5px;
    margin-right: 6px;
}
div.radio_button_group label,
div.check_box_group label {
   border-radius: 4px 4px 4px 4px !important;
    display: block;
    margin-bottom: 3px !important;
    margin-top: 3px !important;
    width: 50% !important;
	padding-left: 26px;
	cursor:pointer;
}

div.radio_button_group.inline input.ui-helper-hidden-accessible, div.check_box_group.inline input.ui-helper-hidden-accessible {
    float: none;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
}
div.radio_button_group.inline label, div.check_box_group.inline label {
    float: left;
    width: auto !important;
    border-radius: 4px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    white-space: nowrap !important;
	border-radius:0 !important;
	padding-left: 7px;
	padding-top:0 !important;
	padding-top:0 !important;
}

div.radio_button_group.inline label:last-child,
div.check_box_group.inline label:last-child{
	 border-radius: 0 4px 4px 0 !important;
}

div.radio_button_group.inline label:first-child,
div.check_box_group.inline label:first-child,
div.radio_button_group.inline label.ui-corner-left,
div.check_box_group.inline label.ui-corner-left{
	 border-radius: 4px 0px 0px 4px  !important;
}
div.radio_button_group,
div.check_box_group{
	margin-bottom: 10px;
    margin-left: 4px;
    margin-top: 0;
}

.xforms_ui div.form_field.submit_button {
    clear: both;
}
div.examples {
    width: 83%;
    padding: 10px;
}
.iz-submit {
    cursor: pointer;
}
div.submit_form_entry{
	min-width:20%;
	
}

div.form_holder.heading {
    margin: 0 !important;
    padding: 0 !important;
}
div.form_holder.heading h1,
div.form_holder.heading h2,
div.form_holder.heading h3,
div.form_holder.heading h4,
div.form_holder.heading h5,
div.form_holder.heading h6 {
    margin-top: 5px;
	margin-bottom: 5px;
}

span.prepend-icon{
   height: 40px;
    left: 7px;
    position: absolute;
    top: 27%;
    width: 40px;
	text-shadow:0px 0px 1px #fff;
	font-size: 12px !important;
}

span.icon-mail {
  	background: url("../images/ui-icons/mail.png") no-repeat scroll 0 0 transparent !important;
}
span.icon-phone {
  	background: url("../images/ui-icons/phone.png") no-repeat scroll 0 0 transparent !important;
}
span.icon-date {
  	background: url("../images/ui-icons/date.png") no-repeat scroll 0 0 transparent !important;
}
span.icon-time {
  	background: url("../images/ui-icons/time.png") no-repeat scroll 0 0 transparent !important;
}
span.icon-num {
 font-family: Georgia,"Times New Roman",Times,serif;
    left: 6px;
    top: 11%;
}
span.icon-text {
	font-family: Georgia,"Times New Roman",Times,serif;
    left: 6px;
    top: 11%;
}
span.icon-url {
  	left: 7px;
    top: 16%;
	text-transform:lowercase !important;
}

div.form_container {
    min-height: 100px;
}

.xforms_ui hr {
    margin: 0 !important;
}
.prepend-input .ui-button-text{
	cursor:pointer;
}
