/* CSS Document */
div.field_holder{width:45% !important;float:left;clear:none !important;margin-right:5% !important; position: relative !important; z-index:20 !important;}  div.error_msg{width:94% !important;}
div.form_field input.email, div.form_field input.phone_number, div.form_field input.date, div.form_field input.time, div.form_field input.text_only, div.form_field input.numbers_only, div.form_field input.url {
    width: 89% !important;
}

div.drop-sort div.form_field input.email,
div.drop-sort div.form_field input.phone_number,
div.drop-sort div.form_field input.date,
div.drop-sort div.form_field input.time,
div.drop-sort div.form_field input.text_only,
div.drop-sort div.form_field input.numbers_only,
div.drop-sort div.form_field input.url {
    width: 100% !important;
}